body{
  margin:0px;
  background-color:#111222;width:auto;height:auto;
}
.main
{

  background-image:url(..//images/img_0299.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-blend-mode:color-burn;
	background-position: center;
	border-radius:1px;
	width:auto;height:auto;

}
.header
{
	width:950px;
	height:10px;margin:auto;
}


.menubar
{
	width:70%;
	height:auto;
	margin:auto;
  padding:1%;

}

.menubar ul li
{
	list-style-type:none;
	display:inline-flex;
}

.menubar ul li a
{
	color:#ADDD12;
	text-decoration:none;
	background:#221817;
  margin:10%;
  padding:5%;
	border-radius:9px;
  width:100pt;height:15pt;
}

.menubar ul li a:hover{
  background-color: #ADDD12;
  color:#221817;
}



section{
	display:flex; flex-direction: row ; width:100%;
}
.body1
{
	width :50% ;
	padding:5%;
  margin:auto;
  text-align: center;
	font-family:serif;
	font-size:40px;
	color:#FFFDDD;
  text-shadow: 5px 3px #111222;
}

.body2
{
background-image: url(..//images/myphoto.jpg);
background-position:center;
background-repeat:no-repeat;
background-size:cover;
box-shadow:3px 3px blue;
width:auto; height:auto;
margin:auto;
padding:15%;
border-radius:5px;
transition-duration: 7s;
}

.body2:hover{
  transform: rotateY(360deg);
}
.curriculum-vitae{
	display: flex;flex-direction: row;border:3px solid black;
}
.curriculum-vitae div{
	margin: 1%;border: 3px solid black;
	width: 100%;
}
.curriculum-vitae div h1{
  border-bottom:3px solid black;
}

.image
{
  background-image:url(..//images/img_3198.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-blend-mode:lighten;
  height:300px;widht:200px;
  transition: width 2s;

}
.contact1
{
  height:auto;
}
 fieldset{
	 border-radius:10px;padding:1%;width:50%;height:auto;
	 color:black;border-color:brown;border-style:solid;
 }
 fieldset legend{
	 font-size: 30px;Color:orange;text-shadow:3px 3px black;text-align: center;
 }

Footer{
	display: flex;
	flex-direction: column;border-left: 3px solid black; background-color:#DADADA;

}
.top{
	display: flex;
	flex-direction: row;
	text-align: center;
	color:#ef0101;
}
.top h2{
	color:orange;text-shadow: 10px 10px 5px 5px;
}
.top div{width: 50%;border: 3px solid black;}
.bottom{text-align: center;}

.top a
{
	text-decoration:none;color:white;
}
.information {
	width:100% ; height:100%;

}
.information h1{
	font-size: 50px; color:White;font-family: serif;font-style: oblique;text-shadow:5px 5px blue;

}
.information p{
		font-size: 30px; font-family: serif;font-style: normal;
}
.Name{
  width:33%;
}
.Name h1{
  color:#FDFFFF; font-size: 30px;
}
.Name li{
  font-size: 20px;color :#111222;
}
.Education{
  width:33%;
}
.Education h1{
  color:#FDFFFF; font-size: 30px;
}
.Education li{
  font-size: 20px; color:#111222;
}

.course{
    width:33%;
  }
  .course h1{
    color:#FDFFFF; font-size: 30px;width:auto;
  }
  .course li{
    font-size: 20px;color :#111222;width:auto;
}
.new{
  display:flex; flex-direction: row;border:3px solid black;
}
.Skills{
  width:50%;margin: auto;border-right:2px solid #111222;
}
.Skills h1{
  color:#FDFFFF; font-size: 30px;
}
.Skills li{
  font-size: 20px;color :#111222;
}
.experience{
  width:30%;margin:auto;
}
.experience p{
  color:#FDFFFF; font-size:30px;
}
.experience li{
  font-size:20px; color: #111222;
}

label
{
  margin:auto;color:Black;width:50%;

}

@media only screen and (max-width:500px){
  body{
    width:100%;height:100%;padding:1%;
  }
.main{
  width:100%;height:100%;padding:1%;
}
.header{
  width: 10%;
}
.menubar{
    width: 100%;height:100%;margin:auto;
}
section{
  width:100%;height:60%;
}
section div body1{
  width:10%;height:100%;
}
section div body2{
  width:50%;height:100%;
}
form label{
  width:10%;
}

}
